@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --base-color: 220;

    --primary-color: hsl(var(--base-color), 54%, 56%);
    --primary-color-darker: hsl(var(--base-color), 52%, 48%);
    --primary-color-lighter: hsl(var(--base-color), 52%, 64%);
    --light-color: hsl(var(--base-color), 48%, 91%);
    --lighter-color: hsl(var(--base-color), 48%, 96%);
    --lightest-color: hsl(var(--base-color), 48%, 99%);
    --text-color: hsl(var(--base-color), 12%, 18%);
    --text-color-lighter: hsl(var(--base-color), 12%, 28%);
    --red: hsl(8, 56%, 58%);

    --rounded: .5rem;
    --rounded-md: .75rem;
    --rounded-lg: 1rem;
    --rounded-full: 999rem;
}

/* ========== BASE ========== */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    color: var(--text-color);
}

main {
    padding-bottom: 7.5rem;
}

button {
    border: 0;
    outline: none;
    transition: all .3s ease-in;
    padding: .5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: var(--rounded);
    line-height: 1;
    color: var(--text-color);
}

input {
    transition: all .3s ease-out;
    border: 2px solid transparent;
}

input:focus {
    border: 2px solid var(--primary-color);
}

.page-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-full {
    flex: 1;
}

/* ========== REUSABLE ========== */
.section {
    padding-top: 2rem;
    padding-bottom: .75rem;
}

.section__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.container {
    max-width: 40rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* ========== NAVBAR ========== */
.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.08);
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar__logo {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar__logo-log {
    color: var(--primary-color-lighter-lighter);
    opacity: .75;
}

.navbar__search {
    margin-left: 2rem;
}

.navbar__search-input {
    padding: .75rem 1rem;
    font-size: 1.25rem;
    width: 100%;
    border-color: var(--light-color);
    border-radius: var(--rounded-md);
    outline: none;
    font-size: 0.875rem;
}

.navbar__menu {
    display: none;
    margin-left: auto;
    align-items: center;
    gap: 1.5rem;
}

.navbar__cart {
    padding: .5rem;
    position: relative;
    border-radius: var(--rounded);
    color: var(--text-color);
    background-color: transparent;
}

.navbar__cart--mobile {
    position: relative;
}

.navbar__cart-icon {
    font-size: 1.25rem;
    line-height: 1;
}

.navbar__cart-badge {
    position: absolute;
    top: -0.15rem;
    right: -0.15rem;
    padding: .25rem .45rem .15rem;
    border-radius: var(--rounded-full);
    font-size: 10px;
    font-weight: 600;
    color: white;
    background-color: var(--red);
    line-height: 1;
}

.cart-badge-mobile {
    top: -0.25rem;
    right: -0.5rem;
}

.navbar__user {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.navbar__greeting-name {
    font-weight: 700;
}

.navbar__profile {
    display: grid;
    place-content: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--text-color);
    border-radius: var(--rounded-full);
}

.navbar__profile-icon {
    color: white;
}

.navbar__mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 -.5rem .75rem rgba(0, 0, 0, 0.08);
    border-radius: var(--rounded-lg) var(--rounded-lg) 0 0;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    z-index: 10;
}

.navbar__mobile-item {
    padding: .75rem .85rem;
    line-height: 1;
    background-color: var(--lighter-color);
    border: 1px solid var(--lighter-color);
    border-radius: var(--rounded-md);
}

.navbar-mobil-active {
    background-color: var(--primary-color-lighter);
    color: white;
}
/* ========== BANNER ========== */
.banner {
    position: relative;
    border-radius: var(--rounded-lg);
    aspect-ratio: 2/1;
    background-color: var(--text-color);
}

.banner__content {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    color: white;
    font-size: 1.5rem;
}

.banner__pagination {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .5rem;
}

.banner__dot {
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: var(--rounded-full);
    opacity: .35;
}

.banner-active {
    opacity: 1;
}

.banner__navigation {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-content: center;
    border-radius: var(--rounded);
    background-color: var(--primary-color);
    color: white;
    transform: translateY(-50%);
    transition: all .3s;
}

.banner__navigation:hover {
    background-color: var(--primary-color-darker);
}

.banner__next {
    right: 1rem;
}

.banner__prev {
    left: 1rem;
}

/* ========== CATEGORIES ========== */
.categories {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .75rem;
}

.categories__item {
    padding: .5rem 1rem;
    text-transform: capitalize;
}

.category-active {
    background-color: var(--primary-color);
    color: white;
}

/* ========== PRODUCT LIST ========== */
.products {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.products__item {
    border-radius: var(--rounded-md);
    border: 1px solid #dadada;
    overflow: hidden;
}

.products__image {
    width: 100%;
    aspect-ratio: 4/3;
    background-color: var(--text-color);
    overflow: hidden;
}

.products__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease-in;
}

.products__image:hover .products__image-img {
    scale: 1.05;
    transform: translateY(-4px);
}

.products__content {
    padding: .75rem 1rem;
}

.products__title {
    font-weight: 600;
    font-size: 0.9375rem;
}

.products__price {
    margin-top: .5rem;
    font-size: 0.875rem;
}

/* ========== PRODUCT DETAIL ========== */
.detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detail__image {
    width: 100%;
    padding: 0;
    aspect-ratio: 1/1;
    background-color: var(--lighter-color);
    border-radius: var(--rounded-lg);
    overflow: hidden;
    opacity: .5;
    border: 4px solid transparent;
}

.image-thumbnail {
    opacity: 1;
}

.detail__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail__images-smalls {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.image-selected {
    border: 4px solid var(--primary-color);
    opacity: 1;
}

.detail__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.detail__price {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color-lighter);
    margin-top: .25rem;
}

.detail__description {
    margin-top: 1.5rem;
    line-height: 1.5;
}

.detail__variant {
    margin-top: 1rem;
}

.detail__variant-title {
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-weight: 600;
}

.detail__variant-options {
    display: flex;
    gap: .5rem;
}

.detail__variant-option {
    border-radius: var(--rounded);
    font-size: 0.75rem;
    text-transform: capitalize;
}

.option-selected {
    background-color: var(--primary-color);
    color: white;
}

.detail__stock {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.detail__available {
    order: 1;
}

.detail__available-count {
    font-weight: 600;
    opacity: 1;
}

.available-low {
    color: var(--red);
}

.detail__quantity {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid #dadada;
    border-radius: var(--rounded);
    overflow: hidden;
    order: 2;
}

.detail__quantity-input {
    padding: .35rem;
    font-size: 1.25rem;
    width: 100%;
    border: 0;
    outline: none;
    text-align: center;
}

.detail__quantity-input:focus {
    border-width: 1px;
}

.detail__quantity-button {
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
}

.detail__quantity-button:hover {
    background-color: var(--light-color);
}

.detail__quantity-button:disabled {
    pointer-events: none;
    opacity: .85;
}

.detail__checkout {
    margin-top: 1.5rem;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 1.25rem;
    transition: all .3s;
    border-radius: var(--rounded-md);
}

.detail__checkout:hover {
    background-color: var(--primary-color-darker);
}

/* ========== FOOTER ========== */
.footer {
    display: none;
    padding: 1.5rem 2rem;
    background-color: var(--primary-color-lighter);
}

.footer__content {
    font-size: 15px;
    color: white;
    text-align: center;
}

.footer__me {
    font-weight: 600;
    color: white;
}

.not-found {
    width: 100%;
    padding: 8rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__title {
    font-size: 5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.not-found__subtitle {
    text-align: center;
    color: var(--text-color-lighter);
}

.not-found__button {
    margin-top: 2rem;
    width: max-content;
    padding: .85rem 1.25rem;
    background-color: var(--primary-color);
    color: white;
    transition: all .3s ease-in;
    border-radius: var(--rounded-md);
}

.not-found__button:hover {
    background-color: var(--primary-color-darker);
}

/* ==========   MEDIA QUERIES ========== */
@media (min-width: 40rem) {
    .banner {
        aspect-ratio: 2/1;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 48rem) {
    main {
        padding-top: 5rem;
        padding-bottom: 2.5rem;
    }
    .header {
        position: fixed;
    }

    .banner {
        aspect-ratio: 5/2;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer {
        display: flex;
    }

    .navbar__menu {
        display: flex;
    }

    .navbar__mobile {
        display: none;
    }
}

@media (min-width: 64rem) {
    .container {
        max-width: 64rem;
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .detail {
        flex-direction: row;
    }

    .detail__images {
        width: 50%;
        padding: 0 4rem 0 0;
    }

    .detail__content {
        width: 50%;

    }

    .detail__title {
        font-size: 2rem;
    }

    .detail__price {
        font-size: 1.5rem;
    }

    .detail__stock {
        flex-direction: row;
        align-items: center;
    }

    .detail__available {
        margin-left: 1rem;
        order: 2;
    }

    .detail__quantity {
        order: 1;
    }

    .detail__quantity-input {
        width: 6rem;
    }

    .detail__quantity {
        width: max-content;
    }
}